*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Gentona';
}
.nav{
    /* border:2px solid; */
    background-color: black;
    color:white;
    height:68px;
    width: 100%;
}
.nav img{
    margin-top: 20px;
    margin-left: 20px;
}
.left{
    display: flex;
    position: absolute;
    width:40%;
}
.sub-left{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    /* border:2px solid red; */
    width:50%;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.right{
    /* border:2px solid blue; */
    width:26%;
    margin-left: 1008px;
    display: flex;
}
.right button{
    padding: 13px;
    margin-top: 10px;
    font-size: 15px;
   margin-left: 17px;
   border:none;  
   cursor: pointer;
}
.right i{
    font-size: 20px;
    padding-left: 20px;
    margin-top: 25px;
    cursor: pointer;
}
.section{
    width: 100%;
    height:250px;
   background: url(./Images/hero-banner.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:50%;
}
.section h1{
    color:white;
    font-size: 48px;
    margin-left:200px;
    margin-top: 60px;
}
.section2{
    /* border:2px solid; */
    position: absolute;
    width:25%;
    height:40px;
    margin-left: 200px;
    background-color: white;
    color:rgb(85, 81, 81);
    margin-top: 155px;
   
}
.sub-section{
    display:flex;
    justify-content: space-around;
    padding-top: 12px;
    font-size: 14px;
}
.active{
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}
.container{
    /* border:2px solid rgb(235, 6, 6); */
    margin-left:200px ;
    margin-top: -56px;
    width:68%;
    height:100px;
    background-color: rgb(243, 240, 240);
}
.sub-section2{
    display: flex;
}
.sub-section2 button{
    padding: 17px 46px;
    justify-content: space-between;
   margin-left: 35px;
   margin-top: 19px;
   background-color: white;
   font-size: 15px;
   font-weight: 600px;
   border:1px solid rgb(199, 195, 195);
   
}
.btn{
    background-image: url(./Images/ola_cabs_back.svg),radial-gradient(127.68% 2996.56% at 12.65% 127.68%, #000000 0%, #222222 100%);
    background-repeat: no-repeat;
    color: white;
    background-position: bottom;
    border: none;
    cursor: pointer;
    box-shadow: -3px -3px  0 #32c86e;
    font-size: 17px;
    font-weight: 800;
}
.sub-section2 i{
    font-size: 10px;
}
.btn i{
    font-size: 20px;
}
.spn{
    color:#32c86e;
    font-size: 17px;
}
.section3{
    /* border:2px solid; */
    width:68%;
    height:200px;
    margin-left: 200px;
}
.section4{
    /* border:2px solid; */
    width: 100%;
    height:680px;
}
.head{
    font-size: 45px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    position: absolute;
    margin-left: 330px;
    margin-top: 90px;
}
.download1{
    /* border:2px solid red; */
    position: absolute;
    height:300px;
    width:16%;
    margin-left: 250px;
    margin-top: 250px;
}
.download1 img {
    border:2px solid rgb(235, 235, 238);
    width:60%;
   margin-left: 40px; 
   
}
.download1 h1 {
    font-size: 40px;
    margin-left: 60px;
    margin-top: 10px;
}
.download1 h2{
    font-size: 28px;
    margin-left: 18px;
    margin-top: 10px;
}
.download1 p{
    font-size: 16px;
    color:rgb(136, 134, 134);
    margin-left:19px ;
    margin-top: 12px;
    line-height: 25px;
}
.download2{
    /* border:2px solid red; */
    position: absolute;
    height:310px;
    width:16%;
    margin-left: 530px;
    margin-top: 250px;
}
.download2 img {
    border:2px solid rgb(245, 245, 247);
    width:60%;
   margin-left: 40px; 
}
.download2 h1 {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 10px;
}
.download2 h2{
    font-size: 28px;
    margin-left: 30px;
    margin-top: 10px;
}
.download2 p{
    font-size: 16px;
    color:rgb(136, 134, 134);
    margin-left:47px ;
    margin-top: 12px;
    line-height: 25px;
}
.download3{
    /* border:2px solid red; */
    position: absolute;
    height:300px;
    width:18%;
    margin-left: 832px;
    margin-top: 250px;
}
.download3 img {
    border:2px solid rgb(245, 245, 246);
    width:60%;
   margin-left: 40px; 
}
.download3 h1 {
    font-size: 40px;
    margin-left: 50px;
    margin-top: 10px;
}
.download3 h2{
    font-size: 28px;
    margin-left: 20px;
    margin-top: 8px;
}
.download3 p{
    font-size: 16px;
    color:rgb(136, 134, 134);
    margin-left:30px ;
    margin-top: 10px;
    line-height: 25px;
}
.section5{
    /* position: absolute; */
    height:1150px;
    width:100%;
    /* border:2px solid; */
    margin-top: 20px;
    background-color: #000000;
    color:white;
}
.section5 h1{
    font-size: 45px;
    color: #FFFFFF;
    text-shadow: 1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92C83E;
    position: absolute;
    margin-left: 210px;
    margin-top: 150px;
}
.section5 img{
    position: absolute;
    margin-top: 250px;
    margin-left:240px ;
}
.para{
    font-size: 18px;
    /* border: 2px solid red; */
    width: 30%;
    height:130px;
    margin-top: 700px;
    margin-left: 240px;
    line-height: 25px;
    color: rgb(202, 199, 199);
    font-weight: 600;
}
.section5 h3{
    position: absolute;
    font-size: 21px;
    color:#32c86e;
    margin-left: 240px;
    margin-top: -25px;
}
.section5-1{
    position: absolute;
    border:1px solid grey;
    border-image: linear-gradient(rgb(141 141 141),rgba(255, 255, 255, 0)) 15;
    padding: 35px 24px;
    margin-left: 650px;
    margin-top: -120px;
}
.section5-2{
    position: absolute;
    border:1px solid grey;
    border-image: linear-gradient(rgb(141 141 141),rgba(255, 255, 255, 0)) 15;
    padding: 35px 11px;
    margin-left: 820px;
    margin-top: -120px;
}
.section5-3{
    position: absolute;
    border:1px solid grey;
    border-image: linear-gradient(rgb(141 141 141),rgba(255, 255, 255, 0)) 15;
    padding: 35px 12px;
    margin-left: 990px;
    margin-top: -120px;
}
.section5-1 p, .section5-2 p,.section5-3 p{
    margin-top: 15px;
    color:grey;
}
.section5-4{
    /* position: absolute; */
    /* margin-top: 200px; */
    margin-top: -210px;
}
.section6{
    /* border: 2px solid rgb(13, 13, 242); */
    height:1660px;
    width:100%;
}
.section6 h1{
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 46px;
    color: #000000;
    text-shadow: 1.152px 1.152px 0px #FFFFFF, 1.728px 1.728px 0px #92C83E;
    margin-top: 120px;
    margin-left: 200px;
}
.section6-1 img{
    margin-left:200px ;
    position: absolute;
}
.item-details1{
  border:2px solid #F4F3F0;
  position: absolute;
  height:365px;
  width:21%;
  margin-left: 794px;
  background-color: #F4F3F0;
}
.item-details1 h2 , .item-details2 h2 , .item-details3 h2{
    margin-top: 110px;
    font-size: 23px;
    margin-left: 47px;
}
.item-details1 h2:hover , .item-details2 h2:hover , .item-details3 h2:hover{
    cursor: pointer;
    color:rgb(5, 205, 5);
    word-spacing: 100px;
}
.item-details1 p ,.item-details2 p , .item-details3 p{
    font-size: 17px;
    color:grey;
    margin-left: 47px;
    margin-top: 15px;
}
.section6-2 img{
    margin-left:200px ;
    position: absolute;
    margin-top: 420px;
    margin-left: 480px;
}
.item-details2{
    border:2px solid #F4F3F0;
    position: absolute;
    height:365px;
    width:21%;
    margin-top: 420px;
    margin-left: 197px;
    background-color: #F4F3F0;
  }
  .section6-3 img{
    margin-left:200px ;
    position: absolute;
    margin-top: 840px;
}
.item-details3{
    border:2px solid #F4F3F0;
    position: absolute;
    height:365px;
    width:21%;
    margin-top: 840px;
    margin-left: 794px;
    background-color: #F4F3F0;
  }
  .section7{
    /* border:2px solid blue; */
    width: 100%;
    height:970px;
    background-color: #000000;
  }
  .section7 h1{
    margin-top: 140px;
    position: absolute;
    font-size: 50px;
    margin-left:210px;
    color: #FFFFFF;
    text-shadow: 1.152px 1.152px 0px #000000, 1.728px 1.728px 0px #92C83E;
  }
  .section7 video{
    margin-top: 250px;
  }
  .section8{
    /* border:2px solid blue; */
    width:100%;
    height:1500px;
  }
  .section8 h1{
    font-size: 45px;
    color: #000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    margin-top: 150px;
    margin-left: 220px;
  }
  .section8-1{
    /* border:2px solid red; */
    position: absolute;
    width:304px;
    height:390px;
    margin-left: 210px;
    margin-top: 40px;
  }
  .section8-1 h2 ,.section8-2 h2,.section8-3 h2{
    margin-top: 15px;
  }
  .section8-1 p ,.section8-2 p,.section8-3 p {
    font-size: 21px;
    color:grey;
    margin-top: 15px;
  }
  .section8-2{
    position: absolute;
    /* border:2px solid red; */
    width:304px;
    height:390px;
    margin-left: 540px;
    margin-top: 40px;
  }
  .section8-3{
    position: absolute;
    /* border:2px solid red; */
    width:304px;
    height:390px;
    margin-left: 870px;
    margin-top: 40px;
  }
  #video-wrap{
    margin-top: 500px;
    margin-left: 220px;
    position: absolute;
  }
  .progress-bar h2{
     height: 100%;
    width: 4px;
    font-size: 100px;
    margin-left: 200px;
    background: rgba(22, 170, 81, 0.24);
    background-image:linear-gradient( top, #013b19 0%, #025022 50%, rgba(22, 170, 81, 0.24) 50.001%, rgba(22, 170, 81, 0.24) 100% );
    background-repeat: no-repeat;
    background-color: rgba(22, 170, 81, 0.24); 
  }
  .progress-bar2 h2{
    height: 100%;
   width: 4px;
   font-size: 100px;
   margin-left: 200px;
   background: rgba(22, 170, 81, 0.24);
   background-image:linear-gradient( top, #013b19 0%, #025022 50%, rgba(22, 170, 81, 0.24) 50.001%, rgba(22, 170, 81, 0.24) 100% );
   background-repeat: no-repeat;
   background-color: rgba(22, 170, 81, 0.24); 
 }
.section8-4{
    margin-top: 460px;
    margin-left: 550px;
}
.progress-bar{
    margin-left: 572px ;
    margin-top: 40px;
   
}
.section8-5{
    position: absolute;
    /* border:2px solid red; */
    height:120px;
    margin-left: 810px;
    margin-top: 40px;
}
.section8-5 p{
    font-size: 20px;
    color:grey;
    margin-top: 12px;
}
.progress-bar2{
    margin-left: 572px ;
    margin-top: -110px; 
}
.section8-6 h2{
    margin-left: 812px;
    margin-top: 50px;
    
}
.section8-6 p{
    font-size: 20px;
    color:grey;
    margin-left:812px ;
}
.section-9{
    /* border:2px solid blue; */
    width:100%;
    height:1050px;
    background: rgb(241, 246, 233)
}
.section-9 h1{
    color: #000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 45px;
    position: absolute;
    margin-top: 150px;
    margin-left: 200px;
}
.section-9 img{
    position: absolute;
    margin-top: 300px;
    margin-left: 200px;
}
.post p{
    position: absolute;
    font-size: 23px;
    margin-left: 730px;
    margin-top: 300px;
}
.post button{
    padding: 8px;
    margin-left: 840px;
    margin-top: 295px;
    font-size: 15px;
    font-weight: 600;
    color:rgb(3, 170, 3);
    background-color:#c3fcda;
    border:none;
}
.post h2{
    position: absolute;
    margin-left: 730px ;
    margin-top: 20px;
}

.ins-1 img{
    position: absolute;
    margin-top:140px;
    margin-left: 720px;
}
.ins-1 p{
    position: absolute;
    margin-left:720px ;
    margin-top: 228px;
}
.ins-2 img{
    margin-top:135px;
    margin-left: 870px;
}
.ins-2 p{
    position: absolute;
    margin-left:860px ;
    margin-top: 228px;
}
.ins-3 img{
    margin-top:135px;
    margin-left: 1040px;
}
.ins-3 p{
    margin-left:1030px ;
    margin-top: 228px;
}
.section9-1 p{
    font-size:23px ;
    margin-top: 90px;
    margin-left: 200px;
    position: absolute;
}
.section9-1 h2{
    position: absolute;
    margin-top: 130px;
    margin-left:200px ;
}
.section9-1 h3{
    font-size: 21px;
    color:green;
    margin-top: 230px;
    margin-left:200px ;
}
.section9-2{
    margin-top: -130px;  
    margin-left: -20px; 
}
.section9-2 h4{
    position: absolute;
    margin-left:520px;
    margin-top: -70px;
    border:2px solid;
    height:190px;
    width:180px;
    background-color:rgb(110, 70, 18);
    margin-left:510px;
    color: white;
    padding-top: 10px;
}
.section9-2 img{
    position: absolute;
   margin-top: -30px;
   margin-left:550px;
   z-index: 11111;
}
.section9-3{
    margin-left: 15px;
}
.section9-3 img{
    position: absolute;
    margin-top: -34px;
    margin-left:740px;
    z-index: 11111;
}
.section9-3 h4{
    position: absolute;
    margin-left:520px;
    margin-top: -70px;
    border:2px solid;
    height:190px;
    width:180px;
    background-color:rgb(78, 78, 153);
    margin-left:700px;
    color: white;
    padding-top: 10px;
}
.section9-4{
    margin-left: 50px;
}
.section9-4 img{
    position: absolute;
    margin-top: -30px;
    margin-left:967px;
    z-index: 11111;
}
.section9-4 h4{
    position: absolute;
    margin-left:520px;
    margin-top: -70px;
    padding-top: 10px;
    border:2px solid;
    height:190px;
    width:180px;
    background-color:rgb(84, 153, 92);
    margin-left:890px;
    color: white;
}
.section10{
    /* border:2px solid red; */
    width:100%;
    height:1000px;
}

.section10 h1{
    color: #000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 45px;
    position: absolute;
    margin-top: 110px;
    margin-left: 200px; 
}
.section10 h3{
    color: rgba(33, 32, 32, 0.756);
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    margin-top: 180px;
    margin-left: 200px; 
}
.wrap{
   /* border:2px solid blue; */
   width:70%;
   height:450px;
   margin-top: 300px;
   margin-left: 200px ;
   position: absolute;
}
.wrap1{
    position: absolute;
    margin-top: 550px;
    margin-left: 202px;
}
.wrap3{
    margin-left: 685px;
    margin-top: 300px;
}
.section10-1{
    /* border:2px solid red; */
    /* height:100px;
    width:14%; */
    margin-left: 730px;
    margin-top: 180px;
    position: absolute;
}
.section10-1 p{
    color:grey;
    margin-top: 5px;
}
.section10-2{
    height:100px;
    width:14%;
    margin-left: 950px;
    margin-top: 180px;
    position: absolute;
}
.section10-2 p{
    color:grey;
    margin-top: 5px;
}
.section10 h5{
    color:rgb(5, 170, 5);
    margin-left: 200px;
    margin-top: 30px;
    font-size: 23px;
   cursor: pointer;
}
.section11{
    /* border:2px solid green; */
    width:100%;
    height:680px;
    background: rgb(242, 244, 240);
}
.section11 h1{
    color: #000000;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    font-size: 45px;
    position: absolute;
    margin-top: 130px;
    margin-left: 200px;
}
.blog1{
    position: absolute;
    /* border:2px solid red; */
    height:270px;
    width:auto;
    margin-left: 200px;
    margin-top: 240px;
    cursor: pointer;
}
.blog1 h3,.blog2 h3 , .blog3 h3 , .blog4 h3{
    font-size: 22px;
    margin-top: 12px;
}
.blog1 p ,.blog2 p, .blog3 p ,.blog4 p{
    font-weight: 600;
    margin-top: 16px;
    color:rgb(4, 168, 4)
}
.blog2{
    position: absolute;
    /* border:2px solid red; */
    height:270px;
    width:auto;
    margin-left: 440px;
    margin-top: 240px;
    cursor: pointer;
}
.blog3{
    position: absolute;
    /* border:2px solid red; */
    height:270px;
    width:auto;
    margin-left: 680px;
    margin-top: 240px;
    cursor: pointer;
}
.blog4{
    position: absolute;
    /* border:2px solid red; */
    height:270px;
    width:auto;
    margin-left: 920px;
    margin-top: 240px;
}
.section12{
    /* border:2px solid; */
    width:100%;
    height:720px;
}
.section12 h1{
    color: #000000;
    font-size: 45px;
    position: absolute;
    margin-top: 130px;
    margin-left: 200px;
}
.section12-1{
    /* border:2px solid green; */
    position: absolute;
    height:270px;
    width:280px;
    background: radial-gradient(100% 100% at 28.66% 0%, #F4F8FC 0%, #D8DDE6 100%);
    margin-top: 270px;
    margin-left: 200px;
    cursor: pointer;
}
.section12-2{
    /* border:2px solid green; */
    position: absolute;
    height:270px;
    width:280px;
    background: radial-gradient(100% 100% at 28.66% 0%, #F4F8FC 0%, #D8DDE6 100%);
    margin-top: 270px;
    margin-left: 500px;
    cursor: pointer;
}
.section12-3{
    /* border:2px solid green; */
    position: absolute;
    height:270px;
    width:280px;
    background: radial-gradient(100% 100% at 28.66% 0%, #F4F8FC 0%, #D8DDE6 100%);
    margin-top: 270px;
    margin-left: 800px;
    cursor: pointer;
}
.section12-1 img,.section12-2 img,.section12-3 img{
    margin-top: 34px;
    margin-left: 34px;
    cursor: default;
}
.section12-1 h2,.section12-2 h2,.section12-3 h2{
    margin-top: 50px;
    margin-left:34px ;
}
.section12-1 p ,.section12-2 p,.section12-3 p{
    margin-top: 17px;
    margin-left: 34px;
    color: rgb(78, 76, 76);
    font-size: 17px;
}
.section12-1 i,.section12-3 i{
    margin-left: 65px;
}
.section12-2 i{
    margin-left: 140px;
}

.footer{
    /* border:2px solid; */
    width: 100%;
    height:360px;
    background: #F2F4F6;
}
.footer img{
    margin-top: 80px;
    position: absolute;
    margin-left: 150px;
}
.footer span{
    display: flex;
    /* border:2px solid red; */
    height:35px;
    width:10%;
    justify-content: space-between;
    position: absolute;
    margin-top: 135px;
    margin-left: 150px;
}
.footer i{
    font-size: 24px;
    cursor: pointer;
}
.footer1{
    /* border:2px solid red; */
    width:11%;
    height:200px;
    position: absolute;
    margin-left:330px ;
    margin-top: 80px;
}
.footer1 p,.footer2 p,.footer3 p{
    font-size: 17px;
    line-height: 32px;
    cursor: pointer;
}
.footer2{
    /* border:2px solid red; */
    width:11%;
    height:200px;
    position: absolute;
    margin-left:500px ;
    margin-top: 80px;
}
.footer3{
    /* border:2px solid red; */
    width:11%;
    height:200px;
    position: absolute;
    margin-left:680px ;
    margin-top: 80px;
}
.footer4 p{
    font-size: 17px;
    font-weight: 700;
    margin-left: 850px;
    margin-top:83px ;
}
.footer4 input{
    position: absolute;
    padding: 18px 30px;
    margin-left: 850px;
    margin-top: 13px;
    font-size: 18px;
    font-weight: 600;
}
.footer4 button{
    padding:18px 26px ;
    position: absolute;
    margin-left: 850px;
    margin-top: 100px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background: radial-gradient(127.68% 2996.56% at 12.65% 127.68%,#000 0,#222 100%);
    box-shadow: -3px 3px 0 #32c86e;
    cursor: pointer;
}
hr{
    margin-top: 187px; 
}
.footer5 h6{
  position: absolute;
  margin-top: 215px;
  margin-left: 165px;
  font-size: 12px;
  color:rgb(195, 190, 190);
}
.footer5-1{
    position: absolute;
    /* border:2px solid red; */
    width:30%;
    height:30px;
    display: flex;
    justify-content: space-between;
    color:rgb(158, 157, 157);
    margin-left: 800px;
    margin-top: 210px;
    font-size: 15px;
}
.footer5-1 i{
    font-size: 15px;
}






